main{
    background-image: url('../../public/images/background/background.jpg');
    /* background-repeat: repeat-y; */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.bg-default{
    background-color: $default-bgcolor;
}

@import './home';
@import './navigation';
@import './users';
@import './stores';
@import './footer';
