main{
    background-image: url('../../public/images/background/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.content{
    min-height: 100vh;
}

.title{
    font-size: 30px;
    font-family: $default-nihongo-fontfamily;
    color: $default-dark-color;
}

.sub-title{
    padding-left: 25px;
    font-size: 20px;
    font-family: $default-nihongo-fontfamily;
    color: $default-dark-color;
}

.bg-default{
    background-color: $default-bgcolor;
}

.pagination-wrapper{
    .text1{
        font-size: 13px;
        color: $default-light-color;
        font-family: $default-nihongo-fontfamily;
        text-decoration: none;
    }
    .btn_other{
        text-align: center;
        width: 26px;
        height: 26px;
        margin-right: 2px;
        margin-left: 2px;
        padding-bottom: 8px;
        border-radius: 50%;
        background: #8d6e63;
        cursor: pointer;
    }
    .btn_current{
        text-align: center;
        width: 26px;
        height: 26px;
        margin-right: 2px;
        margin-left: 2px;
        padding-bottom: 8px;
        border-radius: 50%;
        background: #f57f17;
        cursor: default;
        a{
            cursor: default;
        }
    }
    .btn_previous{
        text-align: center;
        height: 26px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 10px;
        padding-left: 15px;
        padding-bottom: 8px;
        border-radius: 13px 0 0 13px;
        background: #8d6e63;
        cursor: pointer;
    }
    .btn_next{
        text-align: center;
        height: 26px;
        margin-right: 2px;
        margin-left: 2px;
        padding-right: 15px;
        padding-left: 10px;
        padding-bottom: 8px;
        border-radius: 0 13px 13px 0;
        background: #8d6e63;
        cursor: pointer;
    }
    .btn_previous:hover, .btn_other:hover, .btn_next:hover{
        background-color: $default-dark-color;
    }

}


@import './home';
@import './navigation';
@import './users';
@import './stores';
@import './plans';
@import './reserves';
@import './footer';
