main{
    background-image: url('../../public/images/background/background.jpg');
    /* background-repeat: repeat-y; */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.content{
    min-height: 100vh;
}

.title{
    font-size: 30px;
    font-family: $default-nihongo-fontfamily;
    color: $default-dark-color;
}

.sub-title{
    padding-left: 25px;
    font-size: 20px;
    font-family: $default-nihongo-fontfamily;
    color: $default-dark-color;
}

.bg-default{
    background-color: $default-bgcolor;
}


@import './home';
@import './navigation';
@import './users';
@import './stores';
@import './footer';
