// home
.home-container{
    min-height: 300vh;
    .main-container{
        background-image: url('../../public/images/background/bg-home.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        width: 100%;
        .inoshikacho-wrapper{
            background: rgba(0, 0, 0, 0.527);
            h1{
                margin-top: 20vh;
                margin-left: 3vw;
                color: $default-fontcolor;
                .span1{
                    font-size: 65px;
                    font-family: $title-nihongo-fontfamily;
                }
                .span2{
                    font-size: 45px;
                    font-weight: bold;
                    font-family: $title-alphabet-fontfamily;
                }
            }
            .inoshikacho-item{
                padding-top: 5vh;
                i, label{
                    cursor: pointer;
                    text-align: center;
                    color: $default-fontcolor;
                }
                i{
                    font-size: 100px;
                }
                label{
                    font-size: 25px;
                    font-family: $default-alphabet-fontfamily;
                    span{
                        margin-left: 50px;
                    }
                }
            }
            .inoshikacho-item:hover{
                i, label{
                    text-align: center;
                    color: $default-fontcolor-hover;
                }
            }
        }
    }
}
