// navigation bar
nav{
    a.navbar-brand{
        color: $default-fontcolor !important;
        .span1{
            font-size: 25px;
            font-family: $title-nihongo-fontfamily;
        }
        .span2{
            font-size: 18px;
            font-weight: bold;
            font-family: $title-alphabet-fontfamily;
        }
    }


    /* .storeSearchDropdown{
        font-family: $default-nihongo-fontfamily;
        a.nav-link{
            color: $default-fontcolor;
        }
        form.dropdown-menu{
            margin-top: 600px;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 30px;
            padding-right: 30px;
            background: #cfd8dc;
            label{
                color: $default-dark-color !important;
            }
            .form-check{
                label{
                    cursor: pointer;
                }
                label:hover{
                    color: darken($color: $default-dark-color, $amount: 20%) !important;
                }
            }
        }
    } */

    .storeSearch{
        font-family: $default-nihongo-fontfamily;
        a.nav-link{
            color: $default-fontcolor !important;
        }
        a.nav-link:hover{
            color: $default-fontcolor-hover !important;
        }
    }

    .guestuser{
        font-family: $default-nihongo-fontfamily;
        a.nav-link{
            color: $default-fontcolor !important;
        }
        a.nav-link:hover{
            color: $default-fontcolor-hover !important;
        }
    }


    .profileDropdown{
        font-family: $default-nihongo-fontfamily;
        a.nav-link{
            color: $default-fontcolor !important;
            img{
                width: 28px;
                height: 28px;
                border: $default-dark-border;
            }
        }
        ul.dropdown-menu{
            margin-top: 50px;
            background: #cfd8dc;
            li.account-list{
                img{
                    width: 80px;
                    height: 80px;
                    border: 2px solid $default-dark-color;;
                }
                a.dropdown-item{
                    color: $default-dark-color !important;
                }
                a.dropdown-item:hover{
                    background: darken($color: #cfd8dc, $amount: 20%) !important;
                    color: darken($color: $default-dark-color, $amount: 20%) !important;
                }
            }
            .user-type{
                font-size: smaller;
            }
            .dropdown-item.user-type:hover{
                background: #cfd8dc !important;
                cursor: default;
            }
        }
    }
}
