// navigation bar
nav{
    a.navbar-brand{
        color: $default-fontcolor !important;
        .span1{
            font-size: 25px;
            font-family: $title-nihongo-fontfamily;
        }
        .span2{
            font-size: 18px;
            font-weight: bold;
            font-family: $title-alphabet-fontfamily;
        }
    }
    a.nav-link{
        font-family: $default-nihongo-fontfamily;
        color: $default-fontcolor !important;
    }
    a.nav-link:hover{
        color: $default-fontcolor-hover !important;
    }
    i{
        font-size: 10px;
    }
}
