.plan-create-container{
    .plan-content-wrapper{
        border: 1px #CCCCCC solid;
        margin: 0 auto;
        padding: 10px;
    }
    label{
        font-size: 13px;
        font-family: $default-nihongo-fontfamily;
        color: $default-dark-color !important;
    }
    .form-floating{
        height: 40vh;
        textarea{
            min-height: 100%;
        }
    }
}
