/* ------ variables ------ */
// color
$default-light-color: #fff8e1;
$default-dark-color: #3e2723;

// backgrounds
$default-bgcolor: $default-dark-color;
$default-bgcolor-hover: darken($color: $default-bgcolor, $amount: 20%);

// fonts
$default-fontcolor: $default-light-color;
$default-fontcolor-hover: darken($color: $default-fontcolor, $amount: 20%);


$title-alphabet-fontfamily: 'Dosis', sans-serif;
$title-nihongo-fontfamily: 'Stick', sans-serif;
$default-alphabet-fontfamily: 'Dosis', sans-serif;
$default-nihongo-fontfamily: 'Kosugi Maru', sans-serif;

// border
$default-dark-border: 2px solid #546e7a;
$default-light-border: 2px solid #fff8e1;

// buttons

// select file
label.select-img{
    cursor: pointer;
}

